@media  screen and (max-width: 575px) {
    nav {
      height: 170px;
    }
  
    .nav-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  
    .nav-logo {
      display: flex;
      flex-direction: column;
    }
  
    .nav-container .nav-logo .items ul {
      display: flex;
      flex-direction: column;
      list-style-type: none;
    }
  
    .nav-container .nav-logo .items ul li a {
      text-decoration: none;
      color: #8aa379;
      margin-left: 0px;
      font-size: 15px;
      font-weight: 600;
    }
  
  
    .h-content {
      text-align: center;
      width: 300px;
      height: 240px;
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate( -50%, -50% );
    }
    
    .home .h-content h1 {
      font-size: 30px;
      color: white;
    }
  
    .home .h-content p {
      color: white;
      font-size: 15px;
    }
  
    .home .h-content button {
      background-color: #e8b533;
      color: white;
      border: none;
      font-size: 12px;
      padding: 8px 20px;
    }
  
    .cut-line {
      width: 200px;
    }
  
    .edge {
      width: 100%;
      transform: translateY(-18px);
    }

    .view-box {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .box1 {
        width: 300px;
        height: 200px; 
        background-image: url(../img/natural-cedar-planter-boxes-home.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 10px;
    }
    .box2 {
        width: 300px;
        height: 200px; 
        background-image: url(../img/cedar-garden-sheds.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 10px;
    }
    .box3 {
        width: 300px;
        height: 200px; 
        background-image: url(../img/deer-proof-garden-kits-home.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 10px;
    }

    .box-a {
      margin: 50px 0;
    }
    .box-b {
      margin: 50px 0;
    }
    .box-c {
      margin: 50px 0;
    }
    .box-d {
      margin: 50px 0;
    }

    .box-a1 {
      margin: 50px 0;
    }
    .box-b2 {
      margin: 50px 0;
    }
    .box-c3 {
      margin: 50px 0;
    }
    .box-d4 {
      margin: 50px 0;
    }

    .contain-Guides {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    .Guides-card1 {
      width: 300px;
      height: 200px; 
      background-image: url(../img/memorial-garden-bench-1024x641.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin: 10px;
    }
    
    .Guides-card2 {
      width: 300px;
      height: 200px; 
      background-image: url(../img/phlox-flowers-1024x640.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin: 10px;
    }
    
    .Guides-card3 {
      width: 300px;
      height: 200px; 
      background-image: url(../img/fall-greenhouse-prep-1024x641.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin: 10px;
    }

    .btn-browse button{
      padding: 12px 25px;
      color: #8aa379;
      font-size: 13px;
      border: solid 2px #8aa379;
      background-color: white;
    }

    .contain-info {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    .info-card {
      width: 300px;
      height: 200px;
      margin: 30px;
    }

    .contain-our {
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 300px;
      height: 240px;
    }

    .contain-our h2 {
      font-size: 30px;
      color: white;
    }

    .contain-our img {
      margin-top: 20px;
      width: 50%;
    }

    .contain-our p {
      margin-top: 25px;
      font-size: 12px;
      font-weight: 500;
      color: white;
    }

    .contain-our button {
      padding: 8px 15px;
      border: none;
      background-color: #e8b533;
      color: white;
      cursor: pointer;
      font-size: 10px;
    }

    .social {
      text-align: center;
      margin-top: 100px;
      width: 90%;
      margin: auto;
    }

    .contain-social {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: nowrap;
      margin-top: 100px;
    }
    .social-card1 {
      width: 280px;
      height: 280px;
      background-image: url(../img/download.jpeg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      overflow: hidden;
    }
    .social-card2 {
      width: 280px;
      height: 280px;
      background-image: url(../img/download\ \(1\).jpeg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      overflow: hidden;
    }
    .social-card3 {
      width: 280px;
      height: 280px;
      background-image: url(../img/download\ \(2\).jpeg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      overflow: hidden;
    }
    .social-card4 {
      width: 280px;
      height: 280px;
      background-image: url(../img/download\ \(3\).jpeg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      overflow: hidden;
    }
    .social-card5 {
      width: 280px;
      height: 280px;
      background-image: url(../img/download\ \(4\).jpeg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      overflow: hidden;
    }
    .social-card6 {
      width: 280px;
      height: 280px;
      background-image: url(../img/download\ \(5\).jpeg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      overflow: hidden;
    }
    .social-card7 {
      width: 280px;
      height: 280px;
      background-image: url(../img/download\ \(6\).jpeg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      overflow: hidden;
    }
    .social-card8 {
      width: 280px;
      height: 280px;
      background-image: url(../img/download\ \(7\).jpeg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      overflow: hidden;
    }
    .social-card9 {
      width: 280px;
      height: 280px;
      background-image: url(../img/download\ \(8\).jpeg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      overflow: hidden;
    }
    .social-card10 {
      width: 280px;
      height: 280px;
      background-image: url(../img/download\ \(9\).jpeg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      overflow: hidden;
    }
    
    .reviews-layer {
      position: absolute;
      width: 280px;
      height: 280px;
      background-color: rgb(0, 0, 0,0.8);
      top: 100%;
    }
    
    .social-card1:hover .reviews-layer{
      cursor: pointer;
      top: 0;
      transition: 0.3s ease-in-out;
    }
    .social-card2:hover .reviews-layer{
      cursor: pointer;
      top: 0;
      transition: 0.3s ease-in-out;
    }
    .social-card3:hover .reviews-layer{
      cursor: pointer;
      top: 0;
      transition: 0.3s ease-in-out;
    }
    .social-card4:hover .reviews-layer{
      cursor: pointer;
      top: 0;
      transition: 0.3s ease-in-out;
    }
    .social-card5:hover .reviews-layer{
      cursor: pointer;
      top: 0;
      transition: 0.3s ease-in-out;
    }
    .social-card6:hover .reviews-layer{
      cursor: pointer;
      top: 0;
      transition: 0.3s ease-in-out;
    }
    .social-card7:hover .reviews-layer{
      cursor: pointer;
      top: 0;
      transition: 0.3s ease-in-out;
    }
    .social-card8:hover .reviews-layer{
      cursor: pointer;
      top: 0;
      transition: 0.3s ease-in-out;
    }
    .social-card9:hover .reviews-layer{
      cursor: pointer;
      top: 0;
      transition: 0.3s ease-in-out;
    }
    .social-card10:hover .reviews-layer{
      cursor: pointer;
      top: 0;
      transition: 0.3s ease-in-out;
    }
    
    .likes {
      display: flex;
      justify-content: center;
      color: white;
      font-size: 18px;
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate( -50%, -50% );
    }
    
    .likes i:first-child {
      margin-right: 25px;
    }

    .contain-contact {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .contain-payment {
      display: none;
    }
}















@media screen and (min-width: 576px) and (max-width: 768px) {
    .nav-container {
      width: 95%;
      margin: auto  ;
      display: flex;
      justify-content: space-between;
    }
  
    .nav-container .nav-logo .items ul li a {
      text-decoration: none;
      color: #8aa379;
      margin-left: 10px;
      font-size: 15px;
      font-weight: 600;
    }
  
    .icons i {
      margin-left: 3px;
    }
  
    .h-content {
      text-align: center;
      width: 500px;
      height: 340px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate( -50%, -50% );
    }
    
    .home .h-content h1 {
      font-size: 39px;
      color: white;
    }
  
    .edge {
      width: 100%;
      transform: translateY(-18px);
    }
    /* home-content */

.products {
    width: 70%;
    margin: auto;
    margin-top: 60px;
}

    .view-box {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .box1 {
        /* width: 320px;
        height: 200px; 
        background-image: url(../img/natural-cedar-planter-boxes-home.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; */
        margin: 10px;
    }
    .box2 {
        /* width: 320px;
        height: 200px; 
        background-image: url(../img/cedar-garden-sheds.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; */
        margin: 10px;
    }
    .box3 {
        /* width: 320px;
        height: 200px; 
        background-image: url(../img/deer-proof-garden-kits-home.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; */
        margin: 10px;
    }

    .box-a {
      margin: 50px 0;
    }
    .box-b {
      margin: 50px 0;
    }
    .box-c {
      margin: 50px 0;
    }
    .box-d {
      margin: 50px 0;
    }

    .box-a1 {
      margin: 50px 0;
    }
    .box-b2 {
      margin: 50px 0;
    }
    .box-c3 {
      margin: 50px 0;
    }
    .box-d4 {
      margin: 50px 0;
    }

    .contain-Guides {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    .Guides-card1 {
      /* width: 300px;
      height: 200px; 
      background-image: url(../img/memorial-garden-bench-1024x641.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; */
      margin: 10px;
    }
    
    .Guides-card2 {
      /* width: 300px;
      height: 200px; 
      background-image: url(../img/phlox-flowers-1024x640.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; */
      margin: 10px;
    }
    
    .Guides-card3 {
      /* width: 300px;
      height: 200px; 
      background-image: url(../img/fall-greenhouse-prep-1024x641.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; */
      margin: 10px;
    }

    .contain-info {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    .info-card {
      width: 380px;
      height: 200px;
      margin: 30px;
    }



    .contain-our {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 500px;
      height: 240px;
    }

    .contain-our h2 {
      font-size: 33px;
      color: white;
      margin-top: 5px;
    }

    .contain-our img {
      margin-top: 20px;
      width: 50%;
    }

    .contain-our p {
      margin-top: 25px;
      font-size: 16px;
      font-weight: 500;
      color: white;
    }

    .contain-our button {
      padding: 10px 15px;
      border: none;
      background-color: #e8b533;
      color: white;
      cursor: pointer;
      font-size: 12px;
    }

    .social {
      text-align: center;
      margin-top: 100px;
      width: 90%;
      margin: auto;
    }

    .social h2 {
      margin-top: 100px;
    }

    .contain-social {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: nowrap;
      margin-top: 100px;
    }
    .social-card1 {
      width: 380px;
      height: 380px;
      background-image: url(../img/download.jpeg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      overflow: hidden;
    }
    .social-card2 {
      width: 380px;
      height: 380px;
      background-image: url(../img/download\ \(1\).jpeg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      overflow: hidden;
    }
    .social-card3 {
      width: 380px;
      height: 380px;
      background-image: url(../img/download\ \(2\).jpeg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      overflow: hidden;
    }
    .social-card4 {
      width: 380px;
      height: 380px;
      background-image: url(../img/download\ \(3\).jpeg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      overflow: hidden;
    }
    .social-card5 {
      width: 380px;
      height: 380px;
      background-image: url(../img/download\ \(4\).jpeg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      overflow: hidden;
    }
    .social-card6 {
      width: 380px;
      height: 380px;
      background-image: url(../img/download\ \(5\).jpeg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      overflow: hidden;
    }
    .social-card7 {
      width: 380px;
      height: 380px;
      background-image: url(../img/download\ \(6\).jpeg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      overflow: hidden;
    }
    .social-card8 {
      width: 380px;
      height: 380px;
      background-image: url(../img/download\ \(7\).jpeg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      overflow: hidden;
    }
    .social-card9 {
      width: 380px;
      height: 380px;
      background-image: url(../img/download\ \(8\).jpeg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      overflow: hidden;
    }
    .social-card10 {
      width: 380px;
      height: 380px;
      background-image: url(../img/download\ \(9\).jpeg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      overflow: hidden;
    }
    
    .reviews-layer {
      position: absolute;
      width: 380px;
      height: 380px;
      background-color: rgb(0, 0, 0,0.8);
      top: 100%;
    }
    
    .social-card1:hover .reviews-layer{
      cursor: pointer;
      top: 0;
      transition: 0.3s ease-in-out;
    }
    .social-card2:hover .reviews-layer{
      cursor: pointer;
      top: 0;
      transition: 0.3s ease-in-out;
    }
    .social-card3:hover .reviews-layer{
      cursor: pointer;
      top: 0;
      transition: 0.3s ease-in-out;
    }
    .social-card4:hover .reviews-layer{
      cursor: pointer;
      top: 0;
      transition: 0.3s ease-in-out;
    }
    .social-card5:hover .reviews-layer{
      cursor: pointer;
      top: 0;
      transition: 0.3s ease-in-out;
    }
    .social-card6:hover .reviews-layer{
      cursor: pointer;
      top: 0;
      transition: 0.3s ease-in-out;
    }
    .social-card7:hover .reviews-layer{
      cursor: pointer;
      top: 0;
      transition: 0.3s ease-in-out;
    }
    .social-card8:hover .reviews-layer{
      cursor: pointer;
      top: 0;
      transition: 0.3s ease-in-out;
    }
    .social-card9:hover .reviews-layer{
      cursor: pointer;
      top: 0;
      transition: 0.3s ease-in-out;
    }
    .social-card10:hover .reviews-layer{
      cursor: pointer;
      top: 0;
      transition: 0.3s ease-in-out;
    }
    
    .likes {
      display: flex;
      justify-content: center;
      color: white;
      font-size: 18px;
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate( -50%, -50% );
    }
    
    .likes i:first-child {
      margin-right: 25px;
    }

    .contain-contact {
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
    }

    .contain-payment {
      display: none;
    }
}
















@media screen and (min-width: 769px) and (max-width: 1024px) {
    .nav-container {
      width: 90%;
      margin: auto;
      display: flex;
      justify-content: space-between;
    }
  
    .nav-container .nav-logo .items ul li a {
      text-decoration: none;
      color: #8aa379;
      margin-left: 13px;
      font-size: 15px;
      font-weight: 600;
    }
  
    .icons i {
      margin-left: 6px;
    }
  
    .h-content {
      text-align: center;
      width: 500px;
      height: 340px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate( -50%, -50% );
    }
  
    .edge {
      width: 100%;
      transform: translateY(-25px);
    }
    /* home-content */

    .products {
        width: 95%;
        margin: auto;
        margin-top: 60px;
    }

    .box1 {
        width: 340px;
        height: 200px; 
        background-image: url(../img/natural-cedar-planter-boxes-home.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 10px;
    }
    .box2 {
        width: 340px;
        height: 200px; 
        background-image: url(../img/cedar-garden-sheds.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 10px;
    }
    .box3 {
        width: 340px;
        height: 200px; 
        background-image: url(../img/deer-proof-garden-kits-home.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 10px;
    }

    .products .contain-product .area-1 .view-box p {
        margin-top: 50px;
        color: white;
        font-size: 24px;
      }
      
      .products .contain-product .area-1 .view-box a {
        font-size: 20px;
        color: white;
      }

      .Guides {
        width: 95%;
        margin: auto;
        text-align: center;
        margin-top: 170px;
      }

      .Guides-card1 {
        width: 340px;
        height: 200px; 
        background-image: url(../img/memorial-garden-bench-1024x641.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 10px;
      }
      
      .Guides-card2 {
        width: 340px;
        height: 200px; 
        background-image: url(../img/phlox-flowers-1024x640.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 10px;
      }
      
      .Guides-card3 {
        width: 340px;
        height: 200px; 
        background-image: url(../img/fall-greenhouse-prep-1024x641.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 10px;
      }

      .information {
        width: 95%;
        margin: auto;
        text-align: center;
        margin-top: 130px;
      }

      .info-card {
        width: 340px;
        height: 200px;
        margin: 30px;
      }


      .contain-our {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 300px;
        height: 240px;
      }
  
      .contain-our h2 {
        font-size: 30px;
        color: white;
      }
  
      .contain-our img {
        margin-top: 20px;
        width: 50%;
      }
  
      .contain-our p {
        margin-top: 25px;
        font-size: 12px;
        font-weight: 500;
        color: white;
      }
  
      .contain-our button {
        padding: 12px 20px;
        border: none;
        background-color: #e8b533;
        color: white;
        cursor: pointer;
      }

      .info-card {
        width: 300px;
        height: 200px;
        margin: 30px;
      }
  
      .our-story {
        margin-top: 160px;
        height: 45vh;
        background-image: url(../img/our-story-image.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
      }

      .contain-our {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 300px;
        height: 240px;
      }
  
      .contain-our h2 {
        font-size: 30px;
        color: white;
      }
  
      .contain-our img {
        margin-top: 20px;
        width: 50%;
      }
  
      .contain-our p {
        margin-top: 25px;
        font-size: 12px;
        font-weight: 500;
        color: white;
      }
  
      .contain-our button {
        padding: 12px 20px;
        border: none;
        background-color: #e8b533;
        color: white;
        cursor: pointer;
      }



      .contain-social {
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        /* justify-content: space-around; */
        flex-wrap: wrap;
        margin-top: 100px;
        width: 90%;
        margin: auto;
        margin-top: 60px;
      }
      .social-card1 {
        width: 280px;
        height: 280px;
        background-image: url(../img/download.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        overflow: hidden;
      }
      .social-card2 {
        width: 280px;
        height: 280px;
        background-image: url(../img/download\ \(1\).jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        overflow: hidden;
      }
      .social-card3 {
        width: 280px;
        height: 280px;
        background-image: url(../img/download\ \(2\).jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        overflow: hidden;
      }
      .social-card4 {
        width: 280px;
        height: 280px;
        background-image: url(../img/download\ \(3\).jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        overflow: hidden;

      }
      .social-card5 {
        width: 280px;
        height: 280px;
        background-image: url(../img/download\ \(4\).jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        overflow: hidden;
      }
      .social-card6 {
        width: 280px;
        height: 280px;
        background-image: url(../img/download\ \(5\).jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        overflow: hidden;
      }
      .social-card7 {
        width: 280px;
        height: 280px;
        background-image: url(../img/download\ \(6\).jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        overflow: hidden;
      }
      .social-card8 {
        width: 280px;
        height: 280px;
        background-image: url(../img/download\ \(7\).jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        overflow: hidden;
      }
      .social-card9 {
        width: 280px;
        height: 280px;
        background-image: url(../img/download\ \(8\).jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        overflow: hidden;
      }
      .social-card10 {
        width: 280px;
        height: 280px;
        background-image: url(../img/download\ \(9\).jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        overflow: hidden;
      }
      
      .reviews-layer {
        position: absolute;
        width: 280px;
        height: 280px;
        background-color: rgb(0, 0, 0,0.8);
        top: 100%;
      }
      
      .social-card1:hover .reviews-layer{
        cursor: pointer;
        top: 0;
        transition: 0.3s ease-in-out;
      }
      .social-card2:hover .reviews-layer{
        cursor: pointer;
        top: 0;
        transition: 0.3s ease-in-out;
      }
      .social-card3:hover .reviews-layer{
        cursor: pointer;
        top: 0;
        transition: 0.3s ease-in-out;
      }
      .social-card4:hover .reviews-layer{
        cursor: pointer;
        top: 0;
        transition: 0.3s ease-in-out;
      }
      .social-card5:hover .reviews-layer{
        cursor: pointer;
        top: 0;
        transition: 0.3s ease-in-out;
      }
      .social-card6:hover .reviews-layer{
        cursor: pointer;
        top: 0;
        transition: 0.3s ease-in-out;
      }
      .social-card7:hover .reviews-layer{
        cursor: pointer;
        top: 0;
        transition: 0.3s ease-in-out;
      }
      .social-card8:hover .reviews-layer{
        cursor: pointer;
        top: 0;
        transition: 0.3s ease-in-out;
      }
      .social-card9:hover .reviews-layer{
        cursor: pointer;
        top: 0;
        transition: 0.3s ease-in-out;
      }
      .social-card10:hover .reviews-layer{
        cursor: pointer;
        top: 0;
        transition: 0.3s ease-in-out;
      }
      
      .likes {
        display: flex;
        justify-content: center;
        color: white;
        font-size: 18px;
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate( -50%, -50% );
      }
      
      .likes i:first-child {
        margin-right: 25px;
      }

      .contain-contact {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      .contain-payment {
        display: none;
      }
}
















@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .nav-container {
      width: 90%;
      margin: auto;
      display: flex;
      justify-content: space-between;
    }
  
    .h-content {
      text-align: center;
      width: 500px;
      height: 340px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate( -50%, -50% );
    }

    .edge {
      width: 100%;
      transform: translateY(-30px);
    }
    /* home-content */

    .products {
        width: 90%;
        margin: auto;
        margin-top: 60px;
    }

    .box1 {
        width: 350px;
        height: 200px; 
        background-image: url(../img/natural-cedar-planter-boxes-home.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 10px;
    }
    .box2 {
        width: 350px;
        height: 200px; 
        background-image: url(../img/cedar-garden-sheds.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 10px;
    }
    .box3 {
        width: 350px;
        height: 200px; 
        background-image: url(../img/deer-proof-garden-kits-home.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 10px;
    }

    .Guides {
      width: 90%;
      margin: auto;
      text-align: center;
      margin-top: 170px;
    }

    .Guides-card1 {
      width: 350px;
      height: 200px; 
      background-image: url(../img/memorial-garden-bench-1024x641.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin: 10px;
    }
    
    .Guides-card2 {
      width: 350px;
      height: 200px; 
      background-image: url(../img/phlox-flowers-1024x640.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin: 10px;
    }
    
    .Guides-card3 {
      width: 350px;
      height: 200px; 
      background-image: url(../img/fall-greenhouse-prep-1024x641.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin: 10px;
    }
    .information {
      width: 90%;
      margin: auto;
      text-align: center;
      margin-top: 130px;
    }

    .info-card {
      width: 350px;
      height: 200px;
      margin: 30px;
    }

    

    .contain-social {
      display: flex;
      /* flex-direction: column; */
      justify-content: center;
      /* justify-content: space-around; */
      flex-wrap: wrap;
      margin-top: 100px;
      /* width: 90%;
      margin: auto; */
      margin-top: 60px;
    }
    .social-card1 {
      width: 280px;
      height: 280px;
      background-image: url(../img/download.jpeg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      overflow: hidden;
    }
    .social-card2 {
      width: 280px;
      height: 280px;
      background-image: url(../img/download\ \(1\).jpeg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      overflow: hidden;
    }
    .social-card3 {
      width: 280px;
      height: 280px;
      background-image: url(../img/download\ \(2\).jpeg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      overflow: hidden;
    }
    .social-card4 {
      width: 280px;
      height: 280px;
      background-image: url(../img/download\ \(3\).jpeg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      overflow: hidden;
    }
    .social-card5 {
      width: 280px;
      height: 280px;
      background-image: url(../img/download\ \(4\).jpeg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      overflow: hidden;
    }
    .social-card6 {
      width: 280px;
      height: 280px;
      background-image: url(../img/download\ \(5\).jpeg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      overflow: hidden;
    }
    .social-card7 {
      width: 280px;
      height: 280px;
      background-image: url(../img/download\ \(6\).jpeg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      overflow: hidden;
    }
    .social-card8 {
      width: 280px;
      height: 280px;
      background-image: url(../img/download\ \(7\).jpeg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      overflow: hidden;
    }
    .social-card9 {
      width: 280px;
      height: 280px;
      background-image: url(../img/download\ \(8\).jpeg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      overflow: hidden;
    }
    .social-card10 {
      width: 280px;
      height: 280px;
      background-image: url(../img/download\ \(9\).jpeg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      overflow: hidden;
    }
    
    .reviews-layer {
      position: absolute;
      width: 280px;
      height: 280px;
      background-color: rgb(0, 0, 0,0.8);
      top: 100%;
    }
    
    .social-card1:hover .reviews-layer{
      cursor: pointer;
      top: 0;
      transition: 0.3s ease-in-out;
    }
    .social-card2:hover .reviews-layer{
      cursor: pointer;
      top: 0;
      transition: 0.3s ease-in-out;
    }
    .social-card3:hover .reviews-layer{
      cursor: pointer;
      top: 0;
      transition: 0.3s ease-in-out;
    }
    .social-card4:hover .reviews-layer{
      cursor: pointer;
      top: 0;
      transition: 0.3s ease-in-out;
    }
    .social-card5:hover .reviews-layer{
      cursor: pointer;
      top: 0;
      transition: 0.3s ease-in-out;
    }
    .social-card6:hover .reviews-layer{
      cursor: pointer;
      top: 0;
      transition: 0.3s ease-in-out;
    }
    .social-card7:hover .reviews-layer{
      cursor: pointer;
      top: 0;
      transition: 0.3s ease-in-out;
    }
    .social-card8:hover .reviews-layer{
      cursor: pointer;
      top: 0;
      transition: 0.3s ease-in-out;
    }
    .social-card9:hover .reviews-layer{
      cursor: pointer;
      top: 0;
      transition: 0.3s ease-in-out;
    }
    .social-card10:hover .reviews-layer{
      cursor: pointer;
      top: 0;
      transition: 0.3s ease-in-out;
    }
    
    .likes {
      display: flex;
      justify-content: center;
      color: white;
      font-size: 18px;
      position: absolute;
      top: 50%;
      left: 30%;
      transform: translate( -50%, -50% );
    }
    
    .likes i:first-child {
      margin-right: 25px;
    }

    .contain-contact{
      height: 360px;
      width: 95%;
      margin: auto;
      display: flex;
      justify-content: space-between;
    }
}

















@media screen and (min-width: 1441px) and (max-width: 1919px) {

    .edge {
        width: 100%;
        transform: translateY(-30px);
    }
    /* home-content */

    .products {
        width: 90%;
        margin: auto;
        margin-top: 60px;
    }

    .Guides {
      width: 90%;
      margin: auto;
      text-align: center;
      margin-top: 170px;
    }

    .contain-social {
      display: flex;
      /* flex-direction: column; */
      justify-content: center;
      /* justify-content: space-around; */
      flex-wrap: wrap;
      margin-top: 100px;
      /* width: 90%;
      margin: auto; */
      margin-top: 60px;
    }
}